<div class="cursor-pointer rounded overflow-hidden ring-blue-400 size-15 [&_img]:object-contain [&_>_*]:outline-hidden has-focus-visible:ring-2">
  <a href="/home" title="Home page">
    {{ content }}
  </a>
</div>
